<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/research">Research</a></li>
				<li><a href="/datasets">Datasets</a></li>
		        	<li><a href="/books">Books</a></li>
	        		<li><a href="/cv">CV</a></li>	
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:12mre1@queensu.ca">email</a></li>
	        		<li><a href="https://github.com/https://github.com/12mre1">github.com/12mre1</a></li>
				</ul>
			</footer>
		</body>
	</html>
